{{ define "main" }}
{{ partial "single-header.html" . }}
<li><i class="fas fa-tag"></i> <a href="{{ "tags/" | relURL }}{{ . | urlize }}{{ if $.Site.Params.uglyURLs }}.html{{ end }}">{{ . }}</a></li>
<div id="content" class="my-3">
  <div class="container">
    <div class="row row-grid justify-content-center">
      <div class="col col-12 col-lg-8">
        <div class="card border-0 shadow-none">
          <div class="card-body">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}