<link rel="apple-touch-icon" sizes="60x60" href="/icons/favi60.jpg">
<link rel="icon" type="image/jpg" sizes="32x32" href="/icons/favi32.jpg">
<link rel="icon" type="image/jpg" sizes="16x16" href="/icons/favi16.jpg">
<link rel="manifest" href="/icons/site.webmanifest">
<link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/icons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/icons/browserconfig.xml">
<meta name="theme-color" content="#ffffff">